/* change the header to black and center the text */
h1 {
  text-align: center;
  color: black;
}
p, div {
  text-align: center;
}
#list {
  color: gray; 
}
.top {
  text-align: center;  
}
* {
  text-align: center; 
}
a[target=_blank] {
  background-color: yellow;
}
a:hover {
  color: #FF00FF;
}

a:active {
  color: #0000FF;
}
div ul {
  background-color: yellow;
}
section > p {
  background-color: yellow;
}
div ~ p {
  text-align: center;  
}
div + ul {
  background-color: yellow;
}
.courses.list {
  background-color:yellow;
}
